:root {
    --primary-color: #1e90ff;
    --primary-color-2: #011f67;
    --secondary-color: #fffdfd;
    --contrast-color:black;
    --hover-primary-color: #011f67;
    --hover-secondary-color: #1e90ff;
    --nav-background: rgba(0, 0, 0, 0.5);
    --nav--secondary--background: rgb(0, 0, 0);
    --background-aside: rgba(146, 138, 138, 0.086);
    --border-color: rgb(171, 164, 164);
    --border-secondary-color: #012067a0;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --titulo-principal-font: 'Tinos', serif;
    --titulos-font: 'Mea Culpa', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*::selection {
    color: var(--primary-color);
}

body {
    background-color: var(--secondary-color);
}

header {
    background-image: url(../img/contacto_img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

header nav {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding: 60px;
}

header nav img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

header nav .links-navegacion a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: var(--contrast-color);
    font-size: 1.5rem;
    transition: transform 0.5s ease;
}

header nav .links-navegacion a:hover {
    transform: scale(1.05);
    color: var(--hover-secondary-color);
}

header h1 {
    margin-top: 2%;
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--titulo-principal-font);
    font-size: 7rem;
}

main section{
    margin: 20px;
    padding: 20px;
}

main section article {
    margin: 60px 0;
    padding: 50px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    border-radius: 20px;
}

main section article h2 {
    padding: 50px 0;
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color-2);
}

main section article p{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    transition: transform 0.5s ease;

    i{
        color: var(--primary-color-2);
    }
}

main section article p:hover{
    transform: scale(1.005);
    cursor: copy;
}

@media (max-width: 800px) {

    header {
        height: 550px;
    }

    header nav {
        flex-direction: column;
        text-align: center;
    }

    header nav img {
        margin: 0 auto;
        width: 90px;
        height: 90px;
    }

    header nav .links-navegacion {
        margin: 30px 0;
    }

    header nav .links-navegacion a {
        color: var(--secondary-color);
    }

    header h1 {
        font-size: 5rem;
    }

}

@media (max-width:450px){
    
    header h1{
        font-size: 3rem;
        color: var(--primary-color-2);
    }

    header nav .links-navegacion a {
        font-size: 1.1rem;
        margin: 5px;
    }
    
    main section article {
        margin: 10px 0;
    }

    main section article h2{
        font-size: 1.5rem;
    }

    main section article p{
        padding: 10px;
        font-size: 1.02rem;
    }

    main section article p:first-of-type{
        margin-left: -5px;
    }
}
