:root {
    --primary-color: #1e90ff;
    --primary-color-2: #011f67;
    --secondary-color: #fffdfd;
    --contrast-color: black;
    --contrast-secondary-color: rgba(128, 128, 128, 0.566);
    --hover-primary-color: #011f67;
    --hover-secondary-color: #1e90ff;
    --hover-table-color: rgba(128, 128, 128, 0.12);
    --nav-background: rgba(0, 0, 0, 0.5);
    --nav--secondary--background: rgb(0, 0, 0);
    --background-aside: rgba(146, 138, 138, 0.086);
    --border-color: rgb(171, 164, 164);
    --border-secondary-color: #012067a0;
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    --titulo-principal-font: 'Playfair Displa', serif;
    --text-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: var(--primary-color);
}

* h1, h2, h3 {
    font-family: var(--titulo-principal-font);
}

* p , a{
    font-family: var(--text-font);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height: 1.5;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/taller.jpg);
    min-height: 800px;
}

header nav {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding: 30px;
}

header nav img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

header nav .links-navegacion a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: var(--contrast-color);
    font-size: 1.5rem;
    transition: transform 0.5s ease;
}

header nav .links-navegacion a:hover {
    transform: scale(1.05);
    color: var(--hover-secondary-color);
}

header .cabecera h1 {
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--titulo-principal-font);
    font-size: 20rem;
}

header .cabecera h2 {
    text-align: center;
    color: var(--secondary-color);
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "main-cabecera main-cabecera main-cabecera"
        "main-cards main-cards aside"
        "main-horarios main-horarios main-horarios";
}

/* main section {
    box-shadow: 5px 5px 10px var(--shadow-color);
    border-radius: 20px;
} */

main .contenedor-info {
    grid-area: main-cabecera;
    font-family: var(--titulos-font);
    text-align: center;
    margin: 150px 50px 50px 50px;
    min-height: 450px;
}

main .contenedor-info h2 {
    color: var(--primary-color-2);
    font-size: 3rem;
    margin: 40px 0;
}

main .contenedor-info .texto-info {
    margin: 40px 40px;
    padding: 20px 20px;
    font-size: 1.2rem;
}

main .contenedor-info .boton-info {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: var(--primary-color-2);
    transition: transform 0.2s ease;
}

main .contenedor-info .boton-info:hover {
    transform: scale(1.1);
}

main img {
    width: 180px;
    margin: 20px;

}

main .contenedor-cards {
    grid-area: main-cards;
    text-align: center;
    margin: 30px 10px;
    max-width: 100%;
}

main .contenedor-cards h2 {
    width: 100%;
    margin: 10px 0 60px 0;
    font-size: 2rem;
    color: var(--primary-color-2);
    font-family: 'Mea Culpa', cursive;
}

main .contenedor-cards .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main .contenedor-cards .cards .card {
    margin: 20px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    max-width: 50%;
    transition: transform 0.7s ease, box-shadow 0.2s ease;
}

main .contenedor-cards .cards .card:hover {
    transform: scale(1.05);
    transform: translateY(-10%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

main .contenedor-cards .cards .card h3 {
    margin: 10px;
    color: var(--primary-color-2);
    font-size: 1.5rem;
    font-family: var(--titulos-font);

}

main .contenedor-cards .cards .card p {
    margin: 10px;
}

main .contenedor-cards .cards .card a {
    color: var(--primary-color-2);
    text-decoration: none;
}

main .contenedor-cards .cards .card a:hover {
    color: var(--hover-secondary-color)
}

main .contenedor-horarios {
    grid-area: main-horarios;
    text-align: center;
    margin: 50px auto;
    padding: 40px;
    box-shadow: var(--shadow);
    border-radius: 30px;
}

main .contenedor-horarios h2 {
    font-size: 2rem;
    font-family: var(--titulo-principal-font);
    color: var(--primary-color-2);
    font-family: var(--titulos-font);
    margin: 10px;
}


main .contenedor-horarios table {
    margin: 50px 0;
    width: 100%;
    height: 150px;
    border-collapse: collapse;
    font-size: 1rem;
    border-radius: 40px;
}

main .contenedor-horarios table th,
td {
    border: 0.5px solid var(--border-secondary-color);
    padding: 12px 15px;
}

main .contenedor-horarios table th {
    font-weight: 600;
}

main .contenedor-horarios table td:hover {
    background-color: var(--hover-table-color);
}

main .contenedor-horarios table#vertical {
    display: none;
}

main aside {
    grid-area: aside;
    width: 90%;
    height: 100%;
    float: right;
    background-color: var(--background-aside);
    border-radius: 20px;
    text-align: center;

}

main aside ul {
    list-style: none;
    text-align: left;
    padding: 10px;
}

main aside h4 {
    color: var(--primary-color-2);
    font-family: var(--titulos-font);
    margin: 20px 10px;
}

main aside ul h5 {
    color: var(--primary-color-2);
    font-size: 0.9rem;
}

main aside ul li a {
    display: block;
    color: var(--primary-color-2);
    text-decoration: none;
    font-size: 0.8rem;
    padding: 2px;
    transition: transform 0.1s ease;
}

main aside ul li a:hover {
    transform: scale(1.02);
}

main aside ul li a:hover::before {
    content: "> ";
}


@media screen and (max-width: 800px) {

    header {
        max-height: 600px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    header nav img {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 12rem;
    }

    header .cabecera h2 {
        font-size: 2rem;
    }

}


@media (max-width: 450px) {

    body {
        line-height: auto;
    }

    header {
        height: 100px;
    }

    header .cabecera h1 {
        font-size: 7rem;
    }

    header .cabecera h2 {
        font-size: 1rem;
    }

    header nav img {
        width: 100px;
        height: 100px;
        border-radius: 60px;
        margin: 60px 0;
    }

    main {

        grid-template-areas:
            "main-cabecera"
            "main-cards"
            "main-horarios";
    }

    main .contenedor-info {
        margin: 100px 0 25px 0;
    }

    main .contenedor-info h2 {
        font-size: 2rem;
    }

    main .cointenedor-info p {
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
        font-size: xx-small;
    }

    main .contenedor-info .boton-info {
        font-size: 1rem;
    }

    main .contenedor-cards .cards .card img{
        width: 60%;
    }

    main section {
        width: 100%;
    }

    main aside {
        display: none;
    }

    main .contenedor-horarios table#horizontal {
        display: none;
    }

    main .contenedor-horarios table#vertical {
        display: inline;
    }

    footer .contenedor-iconos i {
        font-size: 2rem;
    }

    footer .contenedor-copy {
        font-size: 0.5rem;
    }
}